*{
    margin: 0%;
    padding: 0%;
}

.container{
height: 100vh;
background: black;

display: flex;
align-items: center;
justify-content: center;
background-image: url(Background 1.png)
}
.box{
    width: 200px;
    height: 50px;
    padding: 20px;
    display: inline-flex;
    border-radius: center;
    background-color: transparent; 
    border-radius: 20px;   
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: 0 0;
    color: white;
    width: 30px;
    height: 30px;
    font-size: 50px;
    border: none;
 
    
}
#counterInput{
    font-size: 50px;
    font-family: sans-serif;
    width: 100%;
    color:white;
    background: 0 0;
    margin: 0px;
    text-align: center;
    border: none;
    
}
